In [318]:
import pandas as pd

In [319]:
categories = pd.read_csv("./Data/Categories.csv")
categories

   id                         Name
0   1                         Beer
1   2                         Wine
2   3                      Spirits
3   4  RTDs/High-Strength Premixes
4   5                  Cider/Perry

In [344]:
subcategories = pd.read_csv("./Data/Subcategories.csv")
subcategories

    id  Category                         Name
0    1         1                          Ale
1    2         1  Weissbier/Weizen/Wheat Beer
2    3         1        Flavoured/Mixed Lager
3    4         1               Standard Lager
4    5         1                      Sorghum
5    6         1                        Stout
6    7         1           Non Alcoholic Beer
7    8         1                        Lager
8    9         1                    Dark Beer
9   10         1                Premium Lager
10  11         1             Mid-Priced Lager
11  12         1                Economy Lager
12  13         1                         Beer
13  14         2                         Wine
14  15         3                      Spirits
15  16         4  RTDs/High-Strength Premixes
16  17         5                  Cider/Perry

In [431]:
locations = pd.read_csv("./Data/Locations.csv", delimiter=";")
locations = locations.T.dropna()


locations.columns = locations.iloc[0]
locations = locations.tail(-1)

In [432]:
locations

id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

# CHANNEL VOLUME DATA

In [389]:
channel_volume = pd.read_csv("./Data/Channel_Volume.csv")
channel_volume

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","2613,845506"
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","2513,025824"
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","2421,088595"
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","2422,128432"
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","2439,33622"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2017,"Sunday, 31 December 2017","16514,21084"
8464,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2018,"Monday, 31 December 2018","16522,15239"
8465,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2019,"Tuesday, 31 December 2019","16544,60644"
8466,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2020,"Thursday, 31 December 2020","16626,5149"
8467,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2021,"Friday, 31 December 2021","16664,638"

In [398]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
channel_volume['Location'].replace(mapping_location, inplace=True)

In [391]:
channel_volume['Year_date'] = pd.to_datetime(channel_volume['Year_date'])
channel_volume['Year_date'] = channel_volume['Year_date'].dt.strftime("%d-%m-%Y")

In [392]:
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"] == "Wine"), "Category"] = "Wine"
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"]== "Beer"), "Category"] = "Beer"
channel_volume.loc[(channel_volume["Category"].isna() == True) & (channel_volume["Subcategory"]== "Cider/Perry"), "Category"] = "Cider/Perry"

In [393]:
channel_volume['Volume'] = channel_volume['Volume'].str.replace(',', '.').astype(float)

In [400]:

channel_volume.loc[(channel_volume["Outlet"] == "VEnding"), "Outlet"] = "Vending"

In [396]:
channel_volume.loc[channel_volume["Unit"]=='000 litres',"Volume_liters"] = channel_volume["Volume"] * 1000.0
channel_volume.loc[channel_volume["Unit"]=='million litres',"Volume_liters"] = channel_volume["Volume"] * 1000000.0

In [402]:
channel_volume.to_csv("./clean_data/channel_volume.csv")

# COMPANY SHARE DATA

In [418]:
company_share = pd.read_csv("./Data/Company_Share_GBO_unit.csv", delimiter=";")
company_share = company_share.dropna(ignore_index=True)

In [419]:
company_share['Volume'] = company_share['Volume'].str.replace(',', '.').astype(float)

In [420]:
company_share["Unit"].unique()

array(['million litres', '000 litres'], dtype=object)

In [421]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
company_share['Location'].replace(mapping_location,inplace=True)
company_share['Location'].unique()

array(['World', 'Western Europe', 'Eastern Europe', 'Asia Pacific',
       'North America', 'Latin America', 'Australasia',
       'Middle East and Africa'], dtype=object)

In [424]:
subcategories_mapping = subcategories["Name"].to_dict()
# print(subcategories_mapping)
company_share['Subcategory_ID'].replace(subcategories_mapping,inplace=True)

In [426]:
company_share['Year_date'] = pd.to_datetime(company_share['Year_date'], format='mixed', dayfirst=True)
company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d-%m-%Y")

In [428]:
company_share.loc[company_share["Unit"]=='000 litres',"Volume_liters"] = company_share["Volume"] * 1000.0
company_share.loc[company_share["Unit"]=='million litres',"Volume_liters"] = company_share["Volume"] * 1000000.0

In [430]:
company_share.to_csv("./clean_data/company_share.csv")

# MARKET SIZE DATA

In [368]:
market_size = pd.read_csv("./Data/Market_Sizes.csv")

In [369]:
market_size['Year_date'] = pd.to_datetime(market_size['Year_date'], format='mixed', dayfirst=True)
market_size['Year_date'] = market_size['Year_date'].dt.strftime('%d-%m-%Y')